@font-face {
  font-family: NotoSans;
  src: url(./fonts/NotoSans.ttf)
}

@font-face {
  font-family: 'Material Icons';
  src: url(./fonts/MaterialIcons.ttf)
}

* {
  font-family: NotoSans;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-card {
  padding: 0.1em 0.5em;
  border-radius: 10px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: cyan;
}

.team-name {
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.crest {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin-right: 2em;
}

.bold {
  font-weight: bold;
  font-size: 1em;
}

ul.dropdown-content.select-dropdown li span {
  color: #000; 
}

select {
  width: 100%;
}

.standings-content, .teams-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-logo {
  width: 100px;
  background: yellow;
}

.button-container {
  width: 50%;
}

footer {
  padding: 0.5em;
  margin-top: 2em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container {
  background: black;
  display: flex;
  align-items: center;
  flex-direction: center;
  border-radius: 10px;
  margin-bottom: 2em;
}

.btn-select {
  background: none;
  color: white;
  border: 0;
  font-size: 1.5em;
  padding: 1em;
}


.section-container {
  display: flex;
  flex-direction: column;
}

tr:hover {
  cursor: pointer;
}

.page-container {
  min-height: 100vh;
}

#page-title {
  font-size: 2em;
}

.team-info {
  margin-top: 2em;
  border-left: 1px solid gray;
}

.a {
  background: red;
}

.team-info span{
  font-size: 1.1em;
}

.team-info-crest {
  margin-top: 2em;
  width: 15em;
}

.bottom-border {
  border-bottom: 1px solid grey;
}